name: "Build & Cache"

on:
  push:
    branches:
      - develop
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: krit-nixos
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build nixos-desktop
        run: nix build .#nixosConfigurations.nixos-desktop.config.system.build.toplevel
