name: "Build & Cache"

on:
  push:
    branches: [develop, main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1

    steps:
      - uses: actions/checkout@v4

      - name: Make /mnt temp writable (needed for mktemp)
        run: |
          sudo mkdir -p /mnt/tmp
          sudo chmod 1777 /mnt/tmp
          ls -ld /mnt /mnt/tmp

      - name: Maximize Nix Space
        uses: wimpysworld/nothing-but-nix@main
        env:
          TMPDIR: /mnt/tmp
        with:
          hatchet-protocol: 'rampage'
          witness-carnage: true
          nix-permission-edict: false

      - name: Prepare Nix temp + caches on /nix (after /nix exists)
        run: |
          sudo mkdir -p /nix/tmp /nix/build /nix/xdg-cache
          sudo chmod 1777 /nix/tmp
          sudo chown -R "$(id -u)":"$(id -g)" /nix/build /nix/xdg-cache
          df -h / /mnt /nix

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            build-dir = /nix/build
            auto-optimise-store = true

      - uses: cachix/cachix-action@v15
        with:
          name: krit-nixos
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build nixos-desktop
        env:
          TMPDIR: /nix/tmp
          XDG_CACHE_HOME: /nix/xdg-cache
        run: nix build .#nixosConfigurations.nixos-desktop.config.system.build.toplevel
